/Assets/UnityVS
/Assets/UnityVS.meta
/Library
/Temp
/obj
/Assets/AssetBundles/cache.txt
/Assets/AssetBundles/cache.txt.meta
/Assets/StreamingAssets/AssetBundles
/Assets/StreamingAssets/AssetBundles.meta

*.csproj
*.sln
*.suo